.App {
  text-align: center;
  display: grid;
  grid-template-columns: minmax(50px, 200px) 1fr;
  grid-template-rows: 95px minmax(500px, 1fr);
}
.App__content {
  grid-column-start: 2;
  grid-column-end: 3;
  background: rgba(20, 4, 241, 0.5);
}
